<h1>Login</h1>

<form action="/login" method="post">
  Email:<br>
  <input type="email" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Login">
</form>
