<form action="/users" method="post">
  <label>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="text" name="user[username]" required><br>
  <label>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
  <input type="email" name="user[email]" required><br>
  <label>Password:</label>
  <input type="password" name="user[password]" required><br>
  <input type="submit" value="Create">
</form>
